%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexItems {
  display: flex;
  align-items: center;
}

%flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
